.CurrentDetailsBlock {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.CurrentDetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.DetailsItem {
    padding: 40px;
    width: 22vw;
    height: 28vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.DetailsItem-title {
    color: #fff;
    font-size: 32px;
    font-family: sans-serif;
}
.DetailsItem-inner {
    display: flex;
    height: 90%;
}
.details_icon {
    width: 80%;
    height: auto;
}
.DetailsItem-Icon {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.DetailsItem-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 56px;
}
.DetailsItem-content-wind {
    font-size: 40px;
}
.pressure-text {
    font-size: 48px;
}

@media (max-width: 2560px) and (min-width: 1921px) {
    .CurrentDetails {
        gap: 70px;
    }
    .DetailsItem {
        padding: 65px;
    }
    .DetailsItem-title {
        font-size: 48px;
    }
    .DetailsItem-content {
        font-size: 72px;
    }
    .DetailsItem-content-wind {
        font-size: 50px;
    }
    .pressure-text {
        font-size: 56px;
    }
}
@media (max-width: 3840px) and (min-width: 2561px) {
    .CurrentDetails {
        gap: 90px;
    }
    .DetailsItem {
        padding: 100px;
    }
    .DetailsItem-title {
        font-size: 72px;
    }
    .DetailsItem-content {
        font-size: 90px;
    }
    .DetailsItem-content-wind {
        font-size: 60px;
    }
    .pressure-text {
        font-size: 68px;
    }
}
@media (max-width: 1600px) and (min-width: 1280px) {
    .CurrentDetails {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
    .DetailsItem {
        padding: 30px;
        width: 20vw;
        height: 25vh;
    }
    .DetailsItem-title {
        font-size: 28px;
    }
    .DetailsItem-content {
        font-size: 40px;
    }
    .DetailsItem-content-wind {
        font-size: 30px;
    }
    .pressure-text {
        font-size: 30px;
    }
}
@media (max-width: 1279px) and (min-width: 921px) {
    .CurrentDetails {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    .DetailsItem {
        padding: 25px;
        width: 20vw;
        height: 21vh;
    }
    .DetailsItem-title {
        font-size: 24px;
    }
    .DetailsItem-content {
        font-size: 36px;
    }
    .DetailsItem-content-wind {
        font-size: 22px;
    }
    .pressure-text {
        font-size: 28px;
    }
}
@media (max-width: 920px) and (min-width: 768px) {
    .CurrentDetails {
        grid-template-columns: 1fr 1fr;
        gap: 27px;
    }
    .DetailsItem {
        padding: 23px;
        width: 20vw;
        height: 17vh;
    }
    .DetailsItem-title {
        font-size: 20px;
    }
    .DetailsItem-content {
        font-size: 30px;
    }
    .DetailsItem-content-wind {
        font-size: 18px;
    }
    .pressure-text {
        font-size: 24px;
    }
}
@media (max-width: 767px) and (min-width: 521px) {
    .CurrentDetails {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .DetailsItem {
        padding: 25px;
        width: 25vw;
        height: 15vh;
    }
    .DetailsItem-title {
        font-size: 16px;
    }
    .DetailsItem-content {
        font-size: 24px;
    }
    .DetailsItem-content-wind {
        font-size: 15px;
    }
    .pressure-text {
        font-size: 20px;
    }
}
@media (max-width: 520px) and (min-width: 320px) {
    .CurrentDetails {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .DetailsItem {
        padding: 20px;
        width: 27vw;
        height: 15vh;
    }
    .DetailsItem-title {
        font-size: 14px;
    }
    .DetailsItem-content {
        font-size: 16px;
    }
    .DetailsItem-content-wind {
        font-size: 10.3px;
    }
    .pressure-text {
        font-size: 14px;
    }
}
@media (max-width: 319px) {
    .CurrentDetails {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .DetailsItem {
        padding: 12px;
        width: 40vw;
        height: 11vh;
    }
    .DetailsItem-title {
        font-size: 12px;
    }
    .DetailsItem-content {
        font-size: 16px;
    }
    .DetailsItem-content-wind {
        font-size: 12px;
    }
    .pressure-text {
        font-size: 14px;
    }
}
@media (max-width: 900px) and (min-width: 521px) and (orientation: landscape) {
    .CurrentDetails {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .DetailsItem {
        padding: 20px;
        width: 25vw;
        height: 15vh;
    }
    .DetailsItem-title {
        font-size: 16px;
    }
    .DetailsItem-content {
        font-size: 24px;
    }
    .DetailsItem-content-wind {
        font-size: 15px;
    }
    .pressure-text {
        font-size: 20px;
    }
    .DetailsItem-Icon {
        width: 25%;
    }
}