.App-content {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
